.on
{	
	margin:20px 20px;
	width:200px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid black;
	color:blue;
	background-color:white;
}
.off
{
	margin:20px 200px;
	width:200px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid black;
	color:red;
	background-color:black;
}

body
{
	background-color:black;
}
.border
{
	margin:20px auto;
	width:500px;
	text-align:center;
	box-sizing:border-box;
	padding:10px;
	border:1px solid red;
	color:red;
	background-color:orange;
}